	.firstsection{
		background-color: #173f5f;
		height: 100px;
	}
	.profile{
		background-color: #ED553B;
  		border: none;
  		color: black;
  		text-align: center;
  		vertical-align: middle;
  		text-decoration: none;
  		display: inline-block;
  		cursor: pointer;
  		font-size: 20px;
  		font-family: "Baloo";
  		border-radius: 10px;
		padding: 20px 10px;
		margin-top: 20px;
	}
	.profile:hover{
		background-color: darkred;
	}
	.portofolio{
		background-color: #F6D55C;
  		border: none;
  		color: black;
  		text-align: center;
  		vertical-align: middle;
  		text-decoration: none;
  		display: inline-block;
  		cursor: pointer;
  		font-size: 20px;
  		font-family: "Baloo";
  		border-radius: 10px;
		padding: 20px 10px;
		margin-top: 20px;
	}
	.portofolio:hover{
		background-color: goldenrod;
	}
	.hire{
		background-color: #3CAEA3;
  		border: none;
  		color: black;
  		text-align: center;
  		vertical-align: middle;
  		text-decoration: none;
  		display: inline-block;
  		font-size: 20px;
  		font-family: "Baloo";
  		border-radius: 10px;
  		padding: 20px 10px;
  		margin-top: 20px;
	}
	.hire:hover{
		background-color: seagreen;
	}
	.home{
		background-color: grey; 
    	border: none; 
    	color: white; 
    	padding: 12px 16px; 
    	font-size: 16px; 
    	cursor: pointer; 
    	width: 60px;
    	height: 60px;
    	float: right;
    	margin-top: 20px;
	}
	.judul{
		color: black;
		font-family: "Baloo";
		text-align: center;
	}
	.square{
		border-radius: 20px;
		max-width: 50%;
		height: auto;
		background-color:#20639B;
		margin-left: auto;
		margin-right: auto;
	}
	.email{
		text-align: center;
		font-family: "Baloo";
		color: white;
		font-size: 36px;
		vertical-align: middle;
	}
	.square2{
		border-radius: 20px;
		max-width: 50%;
		height: auto;
		background-color:#82B4DD;
		margin-left: auto;
		margin-right: auto;
		margin-top: 30px;
	}
	.nomer{
		text-align: center;
		font-family: "Baloo";
		color: #3c3c3c;
		font-size: 36px;
		vertical-align: middle;
	}
	.square3{
		border-radius: 20px;
		max-width: 50%;
		height: auto;
		background-color:#CEDCE9;
		margin-left: auto;
		margin-right: auto;
		margin-top: 30px;
	}
	.line{
		text-align: center;
		font-family: "Baloo";
		color: black;
		font-size: 36px;
		vertical-align: middle;
	}
	.emailpic{
		width: 40px;
		height: 40px;
		float: left;
		margin-top: 10px;
	}
	.phonepic{
		width: 40px;
		height: 40px;
		float: left;
		margin-top: 10px;
	}
	.linepic{
		width: 40px;
		height: 40px;
		float: left;
		margin-top: 10px;
	}