
.firstsection{
	background-color: #173f5f;
	height: 100px;
}
.profile{
	background-color: #ED553B;
  border: none;
	color: black;
 	padding: 20px;
 	text-align: center;
 	vertical-align: middle;
 	text-decoration: none;
 	display: inline-block;
 	cursor: pointer;
 	font-size: 20px;
 	font-family: "Baloo";
 	border-radius: 10px;
 	margin-top: 20px;
 	padding: 20px 10px;
}
.profile:hover{
	background-color: darkred;
}
.portofolio{
	background-color: #F6D55C;
  border: none;
  color: black;
  padding: 20px;
  text-align: center;
  vertical-align: middle;
	text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 20px;
  font-family: "Baloo";
  border-radius: 10px;
  margin-top: 20px;
  padding: 20px 10px;
}
.portofolio:hover{
	background-color: goldenrod;
}
.hire{
	background-color: #3CAEA3;
	border: none;
  color: black;
  padding: 20px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: "Baloo";
  border-radius: 10px;
  margin-top: 20px;
  padding: 20px 10px;
}
.hire:hover{
	background-color: seagreen;
}
.home{
	background-color: grey; 
  border: none; 
  color: white; 
  padding: 12px 16px; 
  font-size: 16px; 
  cursor: pointer; 
  width: 60px;
  height: 60px;
  float: right;
  margin-top: 15px;
}