	.first{
		background-color: #173f5f;
		height: 100px;
	}
	.back{
		background-color: black;
		color: white;
		font-family: "Baloo";
		font-size: 20px;
		margin-left: 20px;
		margin-top: 30px;
	}
	.home{
		background-color: grey; 
    	border: none; 
    	color: white; 
    	padding: 12px 16px; 
    	font-size: 16px; 
    	cursor: pointer; 
    	width: 60px;
    	height: 60px;
    	float: right;
    	margin-top: 15px;
	}
	.pic1{
		max-width: 100%;
		height: auto;
		margin-top: 20px;
	}
	.pic2{
		max-width: 100%;
		height: auto;
		margin-top: 20px;
	}
	.pic3{
		max-width: 100%;
		height: auto;
		margin-top: 20px;
	}
	.pic4{
		max-width: 100%;
		height: auto;
		margin-top: 20px;
	}
	.pic5{
		max-width: 100%;
		height: auto;
		margin-top: 20px;
	}
	.pic6{
		max-width: 100%;
		height: auto;
		margin-top: 20px;
	}
	.pic7{
		max-width: 100%;
		height: auto;
		margin-top: 20px;
	}
	.pic8{
		max-width: 100%;
		height: auto;
		margin-top: 20px;
	}
	.pic9	{
		max-width: 100%;
		height: auto;
		margin-top: 20px;
	}
	.pic4{
		max-width: 100%;
		height: auto;
		margin-top: 20px;