	.firstsection{
		background-color: #173f5f;
		height: 100px;
	}
	.profile{
		background-color: #ED553B;
  		border: none;
  		color: black;
  		padding: 20px;
  		text-align: center;
  		vertical-align: middle;
  		text-decoration: none;
  		display: inline-block;
  		cursor: pointer;
  		font-size: 20px;
  		font-family: "Baloo";
  		border-radius: 10px;
  		margin-top: 20px;
  		padding: 20px 10px;
	}
	.profile:hover{
		background-color: darkred;
	}
	.portofolio{
		background-color: #F6D55C;
  		border: none;
  		color: black;
  		padding: 20px;
  		text-align: center;
  		vertical-align: middle;
  		text-decoration: none;
  		display: inline-block;
  		cursor: pointer;
  		font-size: 20px;
  		font-family: "Baloo";
  		border-radius: 10px;
  		margin-top: 20px;
  		padding: 20px 10px;
	}
	.portofolio:hover{
		background-color: goldenrod;
	}
	.hire{
		background-color: #3CAEA3;
  		border: none;
  		color: black;
  		padding: 20px;
  		text-align: center;
  		vertical-align: middle;
  		text-decoration: none;
  		display: inline-block;
  		font-size: 20px;
  		font-family: "Baloo";
  		border-radius: 10px;
  		margin-top: 20px;
  		padding: 20px 10px;
	}
	.hire:hover{
		background-color: seagreen;
	}
	.home{
		background-color: grey; 
    	border: none; 
    	color: white; 
    	padding: 12px 16px; 
    	font-size: 16px; 
    	cursor: pointer; 
    	width: 60px;
    	height: 60px;
    	float: right;
    	margin-top: 15px;
    }
    .judul{
    	color: black;
    	font-family: "Baloo";
    	font-size: 36;
    	text-align: center;
    	margin-right: 370px;
    }
    .csl{
    	background-color: #20639B;
    	color: white;
    	font-family: "Baloo";
    	font-size: 24px;
    	text-align: center;
    	border-radius: 20px;
    	width: 400px;
    	height: 150px;
    	vertical-align: middle;
    	margin-left: 20px;
    }
    .cgt{
    	background-color: #5EB6DC;
    	color: black;
    	font-family: "Baloo";
    	font-size: 24px;
    	text-align: center;
    	border-radius: 20px;
    	width: 400px;
    	height: 150px;
    	vertical-align: middle;
    	margin-left: 50px;
    }
    .cfx{
    	background-color: #82B4DD;
    	color: black;
    	font-family: "Baloo";
    	font-size: 24px;
    	text-align: center;
    	border-radius: 20px;
    	width: 400px;
    	height: 150px;
    	vertical-align: middle;
    	margin-top: 50px;
    	margin-left: 20px;
    }
    .BEM{
    	background-color: #CEDCE9;
    	color: black;
    	font-family: "Baloo";
    	font-size: 24px;
    	text-align: center;
    	border-radius: 20px;
    	width: 400px;
    	height: 150px;
    	vertical-align: middle;
    	margin-top: 50px;
    	margin-left: 50px;
    }
    .skill{
    	background-color: #CED1D3;
    	height: 500px;
    	width: 300px;
    	margin-left: 100px;
    	font-family: "Baloo";
    	border-radius: 20px;
    }
    .sikil{
    	text-align: center;
    	margin-top: 30px;
    	margin-right: 100px;
    }
    .aku{
    	border-radius: 100%;
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 200px;
    } 
    .word{
    	margin-left: 10px;
    }
    .ppt{
    	margin-left: 10px;
    }
    .kom{
    	margin-left: 10px;
    }
    .aftereffects{
    	margin-left: 10px;
    }
    .more{
    	font-family: "Baloo";
    	background-color: black;
    	color: white;
    	margin-top: 20px;
    	margin-left: 332px;
    	font-size: 16px;
    }