.firstsection{
    background-color: #173f5f;
    height: 100px;
}
.profile{
    background-color: #ED553B;
    border: none;
    color: black;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 20px;
    font-family: "Baloo";
    border-radius: 10px;
    padding: 20px 10px;
    margin-top: 20px;
}
.profile:hover{
    background-color: darkred;
}
.portofolio{
    background-color: #F6D55C;
    border: none;
    color: black;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 20px;
    font-family: "Baloo";
    border-radius: 10px;
    padding: 20px 10px;
    margin-top: 20px;
}
.portofolio:hover{
    background-color: goldenrod;
}
.hire{
    background-color: #3CAEA3;
    border: none;
    color: black;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: "Baloo";
    border-radius: 10px;
    padding: 20px 10px;
    margin-top: 20px;
}
.hire:hover{
    background-color: seagreen;
}
.home{
    background-color: grey; 
    border: none; 
    color: white; 
    padding: 12px 16px; 
    font-size: 16px; 
    cursor: pointer; 
    width: 60px;
    height: 60px;
    float: right;
    margin-top: 20px;
}  
.cloud{
		max-width: 100%;
		height: auto;
		margin-top: 50px;
}
.diri{
		max-width: 100%;
		height: auto;
		margin-top: 100px;
}
.square1 {
  	height: 200px;
  	width: 400px;
  	background-color: #20639B;
  	border-radius: 20px;
  	margin-top: 40px;
  	font-family: "Baloo";
  	font-size: 25px;
  	text-align: center;
  	display: table;
  	color: white;
}
.square2{
  	height: 200px;
  	width: 400px;
  	background-color: #82B4DD;
  	border-radius: 20px;
  	margin-top: 40px;
  	font-family: "Baloo";
  	font-size: 25px;
  	text-align: center;
  	display: table;
  	color: #3c3c3c;
}
.square3{
  	height: 200px;
  	width: 400px;
  	background-color: #CEDCE9;
		border-radius: 20px;
  	margin-top: 40px;
  	font-family: "Baloo";
  	font-size: 25px;
  	text-align: center;
  	display: table;
  	color: black;
}