	h1.name0{
		font-family: "Baloo";
		color:white;
		text-align: center;
		vertical-align: middle;
		font-size: 100px;
		margin-top: 60px;
	}
	h1.name1{
		font-family: "Baloo";
		color: white;
		text-align: center;
		vertical-align: middle;
		font-size: 100px;
		margin-top: 60px;
	}
	.home{
		border-radius: 100%;
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 250px;
		margin-top: 10px;
	}
	.profile{
		background-color: #ED553B;
  		border: none;
  		color: black;
  		padding: 20px;
  		text-align: center;
  		vertical-align: middle;
  		text-decoration: none;
  		display: inline-block;
  		cursor: pointer;
  		font-size: 35px;
  		font-family: "Baloo";
  		border-radius: 50%;
  		width: 200px;
  		height: 200px;
  		margin-left: 100px;
  		margin-right: 100px;
  		margin-top: 65px;
	}
	.profile:hover{
		background-color: darkred;
	}
	.portofolio{
		background-color: #F6D55C;
  		border: none;
  		color: black;
  		padding: 20px;
  		text-align: center;
  		text-decoration: none;
  		display: inline-block;
  		font-size: 35px;
  		font-family: "Baloo";
  		cursor: pointer;
  		border-radius: 50%;
  		width: 200px;
  		height: 200px;
  		margin-left: 113px;
  		margin-right: 113px;
  		margin-top: 65px;
	}
	.portofolio:hover{
		background-color: goldenrod;
	}
	.hire{
		background-color: #3CAEA3;
  		border: none;
  		color: black;
  		padding: 20px;
  		text-align: center;
  		text-decoration: none;
  		display: inline-block;
  		font-size: 35px;
  		font-family: "Baloo";
  		margin: 4px 2px;
  		cursor: pointer;
  		border-radius: 50%;
  		width: 200px;
  		height: 200px;
  		margin-top: 65px;
  		margin-left: 100px;
  		margin-right: 100px;
	}
	.hire:hover{
		background-color: seagreen;
	}