.heading{
	font-size: 100px;
	text-align: center;
}
.input{
	text-align: center;
}
.nama{
	font-size: 40px;
}
.tanggal{
	font-size: 40px;
}
.time{
	font-size: 40px;
}
.tempat{
	font-size: 40px;
}
.kategori{
	font-size: 40px;
}