{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="{% static 'css/contact.css'%}" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </head>

<body style="background-color: white">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="firstsection">
	<div class="row justify-content-center">
		<div class="d-flex col-4">
			<div class="">
				<button type="button" class="profile" onclick="window.location.href='/profile'" />Profile</button>
			</div>
			<div class="">
				<button type="button" class="portofolio" onclick="window.location.href='/portofolio'" />Portofolio</button>
			</div>
			<div class="">
				<button type="button" class="hire" onclick="window.location.href='/contact'" />Contact</button>
			</div>
		</div>
		<div class="col-8">
			<button type="button" class="home" onclick="window.location.href='/home'" /><i class="fa fa-home"></i></button>
		</div>
	</div>
</div>
<div class="second">
	<div class="row">
		<div class="col-12">
			<h1 class="judul"> Contact Me!</h1>
			<div class="square"> <img class="emailpic" src="{% static 'img/email_PNG55.png' %}" alt=""> <p class="email">adyssafh@gmail.com</p></div>
			<div class="square2"> <img class="phonepic" src="{% static 'img/telephone-png-icon-picture-14.png' %}" alt=""><p class="nomer">+62 82111913078 </p></div>
			<div class="square3"> <img class="linepic" src="{% static 'img/line-logo-png-7.png' %}" alt=""><p class="line">a.dyssa</p></div>
		</div>
	</div>
</div>
	
</body>
</html>