{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
	<link href="{% static 'css/hasil.css' %}" rel="stylesheet">
  	<title>My Schedule</title>
</head>

<body style="background-color: #173f5f">
  <h1 class="heading" style="color: white">{{heading}}</h1>
  <h2> {{nama}}</h2>
  <h2> {{tanggal}}</h2>
  <h2>{{time}}</h2>
  <h2> {{tempat}} </h2>
  <h2> {{kategori}}</h2>
</body>


</body>
</html>
