{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="{% static 'css/home.css' %}" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </head>


<body style="background-color: #173f5f">
<div class="firstsection">
	<div class="row">
  		<div class="col-md-4">
  			<h1 class="name0">ADYSSA</h1>
  		</div>
  		<div class="col-md-4">
  			<img class="home" src="{% static 'img/6E3FC015-30A3-4385-9971-0CFCD0CE3FC3.jpg' %}" alt="">
  		</div>
  		<div class="col-md-4">
  			<h1 class="name1">FAIRUZ</h1>
  		</div>
	</div>
</div>

<div class="secondsection">
	<div class="row">
		<div class="col-md-4">
			<button type="button" class="profile" onclick="window.location.href='/profile'" />Profile</button>
		</div>
		<div class="col-md-4">
			<button type="button" class="portofolio" onclick="window.location.href='/portofolio'" />Portofolio</button>
		</div>
		<div class="col-md-4">
			<button type="button" class="hire" onclick="window.location.href='/contact'" />Hire Me</button>
		</div>
	</div>
</div>
</body>
</html>

