{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <link href="{% static 'css/Kegiatan.css' %}" rel="stylesheet">

  <title>Jadwal Kegiatan</title>
</head>

<body style="background-color: #173f5f">
  <h1 style="color: white" class="heading"> Do you have any schedule?</h1>

  <form method="post" action="/hasil/">
    {% csrf_token %}
    <div class="input">
      <div class="row">
        <div class="col-12">
          <label class="nama" for="nama" style="color: white"> Activity :</label>
          <input type="text" name="nama" id="nama">

          <br>
          <br>

          <label class="tanggal" for="tanggal" style="color: white"> Tanggal :</label>
          <input type="text" name="tanggal"id="tanggal">

          <br>
          <br> 

          <label class="time" for="time" style="color: white"> Time :</label>
          <input type="text" name="time" id="time">

          <br> 
          <br>

          <label class="tempat" for="tempat" style="color: white"> Place:</label>
          <input type="text" name="tempat" id="tempat">

          <br>
          <br>

          <label class="kategori" for="kategori" style="color: white"> Category:</label>
          <input type="text" name="kategori" id="kategori">

          <br>
          <br>

          <button type="kirim"  onclick="window.location.href='/hasil'" />Submit</button>
        </div>
      </div>
    </div>
</body>


</body>
</html>
