{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="{% static 'css/more.css'%}" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </head>


<body style="background-color: white">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<div class="first">
		<div class="row">
			<div class="col-1">
				<button type="button" class="back" onclick="window.location.href='/portofolio'" />Back</button>
			</div>
			<div class="col-11">
				<button type="button" class="home" onclick="window.location.href='/home'" /><i class="fa fa-home"></i></button>
			</div>
		</div>
	</div>
	<div class="second">
		<div class="row">
			<div class="col-4">
				<img class="pic1" src="{% static 'img/063DBAE6-B467-4EDE-B372-C348A285D834.jpg' %}" alt="">
				<img class="pic2" src="{% static 'img/84A36928-D2A6-4834-A318-EFFCC1DF23C6.jpg' %}" alt="">
				<img class="pic7" src="{% static 'img/35221C0A-7FFF-4816-BB87-2490BEE51C01.jpg' %}" alt="">
			</div>
			<div class="col-4">
				<img class="pic3" src="{% static 'img/471C7A04-BFE3-4489-9360-6CDB335EDA76.jpg' %}" alt="">
				<img class="pic4" src="{% static 'img/Timboool n first meetinggg_190926_0009.jpg' %}" alt="">
				<img class="pic8" src="{% static 'img/E74F0385-16A5-4B81-97AC-2BB43807832A.jpg' %}" alt="">
			</div>
			<div class="col-4">
				<img class="pic5" src="{% static 'img/695CCD72-80CB-42E1-A77E-30D9E90FC92B.jpg' %}" alt="">
				<img class="pic6" src="{% static 'img/6362EEFC-8DA2-428A-A872-995F53B51A5C.jpg' %}" alt="">
				<img class="pic9" src="{% static 'img/B03DA50E-FFD5-4B40-A9B2-50575313C8EF.jpg' %}" alt="">
			</div>
		</div>
	</div>
</body>
</html>