

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/design.css' %}"> 


<div class="firstsection">
  <div class="row justify-content-center">
    <div class="d-flex col-4">
      <div class="">
        <button type="button" class="profile" onclick="window.location.href='profile.html'" />Profile</button>
      </div>
      <div class="">
        <button type="button" class="portofolio" onclick="window.location.href='portofolio.html'" />Portofolio</button>
      </div>
      <div class="">
        <button type="button" class="hire" onclick="window.location.href='Contact.html'" />Contact</button>
      </div>
    </div>
    <div class="col-8">
      <button type="button" class="home" onclick="window.location.href='home.html'" /><i class="fa fa-home"></i></button>
    </div>
  </div>
</div>
