{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="{% static 'css/portofolio.css'%}" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </head>

<body style="background-color:white ">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="firstsection">
	<div class="row justify-content-center">
		<div class="d-flex col-4">
			<div class="">
				<button type="button" class="profile" onclick="window.location.href='/profile'" />Profile</button>
			</div>
			<div class="">
				<button type="button" class="portofolio" onclick="window.location.href='/portofolio'" />Portofolio</button>
			</div>
			<div class="">
				<button type="button" class="hire" onclick="window.location.href='/contact'" />Contact</button>
			</div>
		</div>
		<div class="col-8">
			<button type="button" class="home" onclick="window.location.href='/home'" /><i class="fa fa-home"></i></button>
		</div>
	</div>
</div>
<div class="second">
	<div class="row">
		<div class="col-12">
			<h1 class="judul"> EXPERIENCEs </h1>
		</div>
	</div>
</div>
<div class="third">
	<div class="row">
		<div class="col-4">
			<div class="csl"> CS LEAGUE <br> Fundraising and Health staff</div>
			<div class="cfx"> COMPFEST <br> Documentation and Animation staff</div>
		</div>
		<div class="col-4">
			<div class="cgt"> COMPUTER GET TOGETHER <br> Fundraising staff</div>
			<div class="BEM"> Student Executive Board <br> Departement of Sport staff</div>
			<button type="button" class="more" onclick="window.location.href='/more'" />See Photos</button>
		</div>
		<div class="col-4">
			<div class="skill">
				<img class="aku" src="{% static 'img/B251727C-3499-45AC-9477-BE8E92FD46B0.jpg' %}" alt="">
				<h1 class="sikil"> SKILLS </h1>
				<p class="word"> Microsoft Word </p>
				<p class="ppt"> Microsoft Power <br> Point</p>
				<p class="aftereffects"> Adobe After <br> Effects </p>
				<p class="kom"> Communications</p>
			</div>
		</div>
	</div>
</div>
	
</body>
</html>