{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="{% static 'css/profile.css' %}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>


  </head>
<body style="background-color: white">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<div class="firstsection">
		<div class="row justify-content-center">
			<div class="d-flex col-4">
				<div class="">
					<button type="button" class="profile" onclick="window.location.href='/profile'" />Profile</button>
				</div>
				<div class="">
					<button type="button" class="portofolio" onclick="window.location.href='/portofolio'" />Portofolio</button>
				</div>
				<div class="">
					<button type="button" class="hire" onclick="window.location.href='/contact'" />Contact</button>
				</div>
			</div>
			<div class="col-8">
				<button type="button" class="home" onclick="window.location.href='/home'" /><i class="fa fa-home"></i></button>
			</div>
		</div>
	</div>
	<div class="secondsection">
		<div class="row">
			<div class="col-4">
				<img class="cloud" src="{% static 'img/cloud.jpg' %}" alt="">
			</div>
			<div class="col-4">
				<img class="diri" src="{% static 'img/105578CA-53DE-44A0-9DE5-6A0167791A85.jpg' %}" alt="">
			</div>
			<div class="col-4">
				<div class="square1">Name : Adyssa Fairuz Husniyyah <br> D.O.B : 08 January 2001 <br> Status : undergraduate</div>
				<div class="square2">EDUCATION <br> SDN Karang Pawulang 1 Bandung <br> SMPN 19 Jakarta <br> SMAN 47 Jakarta <br> Universitas Indonesia</div>
				<div class="square3"> I’m currently study at University of Indonesia and majoring in computer science. I’m passionate on coding and love designing. I also love cinematography and photography.</div>
			</div>
		</div>
	</div>


</body>
</html>