
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="{% static 'css/schedule_create.css' %}" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </head>


<div class="schedule">
    <body style="background-color: lightpink" >
        <h1 style="text-align: center">Do you have any Schedule?</h1>  
        <form class="css" action="{% url 'schedule_create' %}" method="post">
            {% csrf_token %}
                <div class="form-row">
                    <div class="col-sm-1"></div>
                        <div class="form-group col-sm-10">
                            {% for fields in form %}
                              <br>
                                {{ fields.label_tag }}
                                    <br>
                                {{ fields }}
                            {% endfor %}
                        </div>
                    </div>
                <div class="form-row">
            <div class="col-sm-1"></div>
        <input type="submit" class="btn btn-danger float-right" value="Add">
    </form>  
</body>       
</div>
</body>

{% endblock %}