{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="{% static 'css/schedule_create.css' %}" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </head>


<body style="background-color: lightcyan")>

<div class="schedule">
    <div class = "title">
        <p class="title-text text-center" style="font-size: 100px;">My Schedule</p>
        <div class="article">
            <a href="{% url 'schedule' %}"></a>
            <div class="article">
                <div class="row">
                    {% for schedule in schedules %}
                        <div class="col-sm-4 text-center">
                            <h2>{{ schedule.activity }}</h2>
                            <p>{{ schedule.date.date }}</p>
                            <p>{{ schedule.time}}</p>
                            <p>{{ schedule.place }}</p>
                            <p>{{ schedule.category }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class = 'col-md-12'>
            <div class = 'form-group'>
                <a href="{% url 'schedule_delete' %}"><button type="button" class="btn btn-primary float-right">Clear</button></a>
                <a href="{% url 'schedule_create' %}"><button type="button" class="btn btn-primary float-left" >Create</button></a>
        </div>
    </div>
    </div>
</body>


{% endblock %}