{% load static %}

{% block content %}

<div class="schedule">
    <body>  
        <form class="css" action="{% url 'schedule_create' %}" method="post">
            {% csrf_token %}
                <div class="form-row">
                    <div class="col-sm-1"></div>
                        <div class="form-group col-sm-10">
                            {% for fields in form %}
                                {{ fields.label_tag }}
                                    <br>
                                {{ fields }}
                            {% endfor %}
                        </div>
                    </div>
                <div class="form-row">
            <div class="col-sm-1"></div>
        <input type="submit" class="btn btn-primary float-right" value="Add">
    </form>  
</body>       
</div>
</body>

{% endblock %}