{% extends 'base.html' %}
{% load static %}

{% block content %}


<body style="background-image: url('{% static 'img/background/Bright Graphic Designer Portfolio Website (blue).png'%}')">

<div class="schedule">
    <div class = "title">
        <p class="title-text text-center">JADWAL Q</p>
        <div class="article">
            <a href="{% url 'schedule' %}"></a>
            <div class="article">
                <div class="row">
                    {% for schedule in schedules %}
                        <div class="col-sm-4 text-center">
                            <h2>{{ schedule.activity }}</h2>
                            <p>{{ schedule.date.date }}</p>
                            <p>{{ schedule.time}}</p>
                            <p>{{ schedule.place }}</p>
                            <p>{{ schedule.category }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class = 'col-md-12'>
            <div class = 'form-group'>
                <a href="{% url 'schedule_delete' %}"><button type="button" class="btn btn-primary">Clear</button></a>
                <a href="{% url 'schedule_create' %}"><button type="button" class="btn btn-primary" >Create</button></a>
        </div>
    </div>
    </div>
</body>


{% endblock %}